* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f1f1f1;
}

/*---- INDEX ----*/
/*--- HEADER ---  */
header .navbar {
  background-color: #48e;
}
header .navbar .navbar-brand {
  color: #000;
}
header .navbar .navbar-collapse {
  justify-content: flex-end;
}
header .navbar .nav-link {
  color: #000;
}
header .navbar .nav-link:hover {
  background-color: #17f;
}

/*---MAIN SECTION---*/
.main {
  background-color: #f5f5f5;
}
.main .main__section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}
.main .main__section .main__title {
  color: #000;
  font-size: 3em;
  padding: 15px;
  text-align: center;
}
.main .main__section .main__text {
  font-size: 1.3rem;
  text-wrap: balance;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .main .main__section .main__text {
    font-size: 1rem;
  }
}

.about__text {
  margin: 10px;
  text-align: center;
}

.main__media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
  flex-wrap: wrap;
}
.main__media .main__img-container {
  display: flex;
  justify-content: center;
}
.main__media .main__img-container .main__img {
  width: 50%;
  padding: 10px;
  height: auto;
  border-radius: 8px;
}
@media screen and (max-width: 480px) {
  .main__media .main__img-container .main__img {
    width: 100%;
  }
}

/*---FOOTER SECTION---*/
.footer {
  display: flex;
  justify-content: center;
  background-color: #48e;
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
}
.footer .footer__text {
  color: #000;
}

/*--- ENTRENAMIENTOS ----*/
.entrenamientos .entrenamientos__intro {
  padding: 20px;
}
.entrenamientos .entrenamientos__intro .main__title {
  text-align: center;
}
.entrenamientos .entrenamientos__intro .entrenamientos__text {
  text-align: center;
  font-size: 1.3rem;
}
.entrenamientos .entrenamientos__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: stretch;
}
@media screen and (max-width: 480px) {
  .entrenamientos .entrenamientos__cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.entrenamientos .entrenamientos__cards .entrenamiento {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.entrenamientos .entrenamientos__cards .entrenamiento:nth-child(1) {
  grid-row: 1/span 2;
  align-content: center;
}
@media screen and (max-width: 480px) {
  .entrenamientos .entrenamientos__cards .entrenamiento:nth-child(1) {
    grid-row: auto;
  }
}
.entrenamientos .entrenamientos__cards .entrenamiento .entrenamiento__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 10px 0;
}

/*---- GALERIA -----*/
.galeria {
  text-align: center;
  padding: 20px;
}
.galeria .galeria__intro .galeria__text {
  font-size: 1.3rem;
  margin-bottom: 30px;
  text-wrap: balance;
}
.galeria .galeria__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
@media screen and (max-width: 480px) {
  .galeria .galeria__grid {
    grid-template-columns: 1fr;
  }
}
.galeria .galeria__grid .galeria__item {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
}
@media screen and (max-width: 480px) {
  .galeria .galeria__grid .galeria__item {
    width: 100%;
  }
}
.galeria .galeria__grid .galeria__item:nth-child(5) {
  align-content: center;
}
.galeria .galeria__grid .galeria__item .galeria__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.galeria .galeria__grid .galeria__item .galeria__desc {
  margin-top: 8px;
  font-size: 1rem;
  color: #333;
}

/*---FORM SECTION---*/
.main__title {
  text-align: center;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form .form__label {
  margin: 5px;
  font-weight: bold;
}
.form .form__input {
  width: 50%;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #666;
}
@media screen and (max-width: 480px) {
  .form .form__input {
    width: 100%;
  }
}
.form .form__textarea {
  width: 50%;
  height: 90px;
  padding: 5px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px #666;
}
@media screen and (max-width: 480px) {
  .form .form__textarea {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
